.gameContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* 100% of the viewport height */
    overflow: hidden;
    /* Hide any content that exceeds the viewport */

}
.gameBackground {
    background-image: url('../../Pictures/plainBackground.png'); /* Replace 'your-background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }