.header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 20px 20px 10px 20px;
}

.roleIconImage {
	max-width: 100%;
	height: auto;
}

.gameLogo {
	max-width: 75px;
	height: auto;
}

.flexItem {
	flex-grow: 1;
}

.playerImageContainer,
.opponentImageContainer {
	max-width: 5%;
	margin: 0px 10px 0px 10px;
}
.playerImageContainer,
.opponentNameContainer {
	text-align: right;
}
.opponentImageContainer,
.playerNameContainer {
	text-align: left;
}

.logoContainer {
	text-align: center;
}

.startEndButtonContainer {
	text-align: right;
}

.waiting {
	text-align: center;
}

.drawButton,
.actionButton,
.startEndButton {
	background-color: #ff6864;
	color: white;
	margin-right: 10px;
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	font-size: 14px;
}

.drawButton:hover,
.actionButton:hover,
.startEndButton:hover {
	background-color: #d55753;
	cursor: pointer;
}
